/* GLOBAL */
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  line-height: 1.5;
  background-color: antiquewhite;
}

/* SIDE NAV */
.sidenav {
  height: 100%;
  /* change width with JavaScript to close sidenav based on screen size */
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.75s;
}

.sidenav__items {
  color: white;
  padding-left: 1em;
}

.sidenav__item {
  list-style: none;
  margin-bottom: 3em;
}

.sidenav__item:hover {
  color: goldenrod;
}

/* TOP NAV */
.topnav {
  position: fixed;
  height: 10%;
  /* width: 85%; */
  z-index: 1;
  top: 0;
  right: 0;
  height: 50px;
  background-color: aqua;
}

.topnav__items {
  display: flex;
  justify-content: space-around;
}

.topnav__item {
  list-style: none;
}

.topnav__item:hover {
  color: goldenrod;
}

/* MAIN CONTENT AREA */
section .content {
  display: flex;
  padding-top: 100px;
}

.content-wrapper__main {
  display: flex;
  flex-direction: column;
  /* FIXME this padding not optimal */
  padding-left: 250px;
}

.card {
  flex-direction: column;
  border: 1px solid black;
  width: 50%;
  margin: 0;
  margin-bottom: 3em;
}
