/* GLOBAL */
*,
::before,
::after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: roboto, helvetica neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(243, 243, 243);
}

a {
  text-decoration: none;
}

/* SIDE NAV */
.sidenav {
  flex-direction: column;
  max-height: calc(100vh - 75px);
  min-height: 100%;
  /* change width with JavaScript to close sidenav based on screen size */
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 15px;
  transition: 0.75s;
}

.sidenav > div {
  padding-bottom: 2em;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 0.75em;
  /* border-bottom: 1px solid white; */
}

.logo > img {
  min-width: 50px;
  min-height: 50px;
}

.sidenav__items {
  display: block;
  flex-direction: column;
  color: white;
  padding-left: 50px;
  padding-right: 25px;
}

.sidenav__item {
  display: list-item;
  list-style: none;
  margin-bottom: 2em;
}

.sidenav__item:hover {
  color: goldenrod;
}

.sidenav__item > a {
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
}

.sidenav__item > a > img {
  padding-right: 20px;
  max-width: 25px;
  max-height: 25px;
  filter: invert(100%);
}

.sidenav__text {
  text-transform: uppercase;
}

/* MAIN CONTENT AREA */
main {
  display: block;
}

/* TOP NAV */
.topnav {
  display: grid;
  grid-template-columns: [title] 3fr [links] 1fr;
  align-content: center;
  height: 50px;
  width: 100%;
  z-index: 1;
  top: 0;
  right: 0;
  margin-bottom: 25px;
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid gray;
}

.topnav__title {
  padding-left: 35px;
}

.topnav__items {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 3.5em;
}

.topnav__item {
  list-style: none;
  margin-left: 2.5em;
}

.topnav__item:hover {
  color: goldenrod;
}

/* CONTENT SECTION */
section .content {
  display: flex;
  padding-top: 100px;
}

.content-wrapper__main {
  display: flex;
  flex-direction: column;
  /* FIXME this padding not optimal */
  padding-left: 250px;
}

.card {
  flex-direction: column;
  border: 1px solid black;
  width: 50%;
  margin: 0;
  margin-bottom: 3em;
}
