/* GLOBAL */
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  background-color: antiquewhite;
}

/* SIDE NAV */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav__items {
  color: white;
}

.sidenav__item {
  list-style: none;
}

.sidenav__item:hover {
  color: goldenrod;
}

/* TOP NAV */
.topnav {
  position: fixed;
  height: 10%;
  width: 85%;
  z-index: 1;
  top: 0;
  height: 50px;
  background-color: aqua;
}

.topnav__items {
  display: flex;
  justify-content: space-around;
}

.topnav__item {
  list-style: none;
}

.topnav__item:hover {
  color: goldenrod;
}
